<div class="container">
    <div class="backg">
        <section class="trabalho">
            <h1>Transformando Resíduos em Recursos</h1>
        
            <p>Recolhemos e reciclamos lixo corporativo para impulsionar a sustentabilidade nas empresas. Nossa abordagem personalizada garante a coleta eficiente e o descarte responsável de resíduos, ajudando sua organização a alcançar metas ambientais e regulatórias. 
                <br>Com soluções inovadoras, transformamos resíduos em recursos valiosos, promovendo um ciclo econômico mais sustentável e responsável. Junte-se a nós na jornada rumo a um futuro mais limpo e consciente.</p>
        
                <button>Saiba Mais</button>
        </section>
    </div>
    <div class="sobre">
        <div class="conteudo">
            <h2>Quem Somos</h2>
            <p>Somos uma ONG dedicada à sustentabilidade, especializada na coleta e reciclagem de resíduos corporativos. Nosso objetivo é reduzir o impacto ambiental das empresas, transformando lixo em recursos reutilizáveis.</p>
        </div>
        <img src="/assets/ellipse.png" />
    </div>
    <div class="servicos">
        <h2>Nossos Serviços</h2>
        <ul class="cards">
            <li>
                <div class="card">
                    <h3>Coleta de Resíduos Empresariais</h3>
                    <img src="/assets/images.jfif" >
                </div>
            </li>
            <li>
                <div class="card">
                    <h3>Triagem e Reciclagem de Materiais</h3>
                    <img src="/assets/triagem.jfif" >
                </div>
            </li>
            <li>
                <div class="card">
                    <h3>Consultoria em Sustentabilidade</h3>
                    <img src="/assets/consultoria.jpg" >
                </div>
            </li>
            <li>
                <div class="card">
                    <h3>Programas de Educação Ambiental</h3>
                    <img src="/assets/escola.png" >
                </div>
            </li>
        </ul>
    </div>
    <div class="impacto">
        <h2>Nosso Impacto</h2>
    
        <p>Desde a nossa fundação, temos trabalhado para criar um impacto positivo no meio ambiente.</p>
        
        <h3>Empresas Parceiras</h3>
        <ul>
            <li>
                <span>“É sempre uma honra ajudar o ambiente” - TransporesLm</span>
                <div class="cardImp">
                    <p>60 toneladas de resíduos removidos</p>
                </div>
            </li>
            <li>
                <span>“Quando a ajuda chama nos vamos estar la” - ColetaPlus</span>
                <div class="cardImp">
                    <p>50 milhões de emissões de CO2 evitadas</p>
                </div>
            </li>
        </ul>
    </div>
    
        <h2>O que nossos parceiros dizem</h2>
        <p>"A ONG Sustentável tem sido uma parceira valiosa na nossa jornada rumo à sustentabilidade."</p>
        <p>"Graças à coleta e reciclagem deles, nossa empresa reduziu significativamente o desperdício."</p>
    
        <h2>Fale Conosco</h2>
       
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="Email">
            <textarea placeholder="Mensagem"></textarea>
            <button>Enviar</button>
        
        <p>Endereço: Rua Exemplo, 123</p>
        <p>Telefone: (11) 1234-5678</p>
        <p>Email: contato&#64;ongsustentavel.org</p>
</div>
